<!DOCTYPE HTML>
<!--
	Faouet Framework by Mark Berthelemy
	https://faouetinformatique.fr
	Free for personal and commercial use under the MIT license
-->
<html>
	{% include head.html %}
	<body class="">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header">

			{% include menu.html %}

			</div><!-- end of header -->

			<!-- Main -->
            <div class="wrapper">

            
			</div><!-- end of wrapper -->
			{% include footer.html %}

		</div><!-- end of page-wrapper -->

{% include scripts.html %}

	</body>
</html>
